{% extends 'base.html' %}
{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
    <h1>Book Shop Home</h1>
    <hr>
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="q" placeholder="Write an author or a book title">
        <button>Search</button>
    </form>
    <hr>
    <div>
        <div>
            <h4>Most Popular Books</h4>
            {% for book in most_popular_books %}
                <li><a href="{{ book.get_absolute_url}}">{{ book.title }}</a></li>
            {% endfor %}
        </div>
        <hr>
        <div>
            <h4>Last Books</h4>
            {% for book in last_books %}
                <li><a href="{{ book.get_absolute_url}}">{{ book.title }}</a></li>
            {% endfor %}
        </div>
    </div>
{% endblock %}