{% extends "base.html" %}

{% block content %}
  <h1>Title: {{book.title}}</h1>
  <p><strong>Author(s): </strong>
    {% for author in book.author.all %}
      <p>{{author}}</p>
    {% endfor %}
  </p>
  <p><strong>Cover: </strong><img src="{{book.path_to_cover_image}}"></p>
  <p><strong>ISBN: </strong>{{book.isbn}}</p>
  <p><strong>Date: </strong>{{book.date}}</p>
  <p><strong>Score: </strong>{{book.score}}</p>
  <p><strong>Copies Available: </strong>{{book.number_copies_stock}}</p>
  <p><strong>Price: </strong>{{book.price}}</p>
  <div style="margin-left:20px; margin-top:20px">
    <h4>Comments</h4>
    {% for comment in book.comment_set.all %}
      <hr>
      <p><b>{{comment.user}} ({{comment.date}})</b></p>
      <p>{{comment.msg}}</p>
    {% endfor %}
  </div>
{% endblock %}
